@import url(https://fonts.googleapis.com/css?family=Fjalla+One);
@import url(https://fonts.googleapis.com/css?family=Oswald);

* {
	padding: 0px;
	margin: 0px;
	box-sizing: border-box;
}

a {
	text-decoration: none;
	color: inherit;
}

p {
	line-height: 1.5em;
	outline-width: 200px;
	margin: 1.5em;
	font-family: Oswald, serif;
	font-size: 30px;
	font-weight: 100;
	color: rgba(250,250,250, .8);
	letter-spacing: .07em;
}

blockquote p{
	font-family: Fjalla, sans-serif;
	font-size: 24px;
	font-weight: 600;
	color: rgba(50, 50, 50, .8);
	margin: 0;
	display: inline;
	padding: 0 0 0 1em;
}

cite {
}

header{
	background: url("../images/sky2.jpg") repeat top center fixed;
	height: auto;
	width: 100%;
	padding: 1em 0;
	padding-left: 10px;
	padding-right: 10px;
}


nav{
	background-color: rgba(250,250,0,.7);
	padding: .5em;
	font-family: Fjalla, Helvetica, sans-serif;
	text-transform: uppercase;
	position: fixed;
	margin-top: .7em;
	font-size: 12px;
	color: rgba(50, 50, 50, .8);
	line-height: 1.5em;
	font-weight: 800;
}

nav a {
	display: block; 
	font-family: Fjalla, Helvetica, sans-serif;
	text-transform: uppercase;
	padding: .5em;
	color: rgba(50, 50, 50, .8);
}

footer a:hover{
	color: orange;
}

footer{
	padding: .5em;
	font-family: Fjalla, Helvetica, sans-serif;
	text-transform: uppercase;
	background-color: rgba(250, 250, 0,.9);
	color: rgba(50, 50, 50, .8);
	line-height: 2em;
}

section{
	width: 100%;
	padding: 10px;
	margin-top: 0px;
	margin-bottom: 0px;
	border: 0px black solid;
	background-color: #FFE2B8;
}

section:nth-of-type(1){
    background:rgba(232, 124, 1, .8);
    background: url("../images/jim.jpg") repeat top center fixed;
}

section:nth-of-type(2){
    background:rgba(255, 107, 14, .8);
    background: url("../images/trees.jpg") repeat top center;
}

section:nth-of-type(3){
    background:rgba(232, 57, 1, .8);
    background: url("../images/soil.jpg") repeat top center;
}

section:nth-of-type(5){
    background:rgba(255, 25, 1, .8);
}

.wrapper{
	max-width: 1000px;
	width: 100%;
	margin-left: 10%;
	margin-right: 10%;
	padding-left: 10px;
	padding-right: 10px;
	padding-bottom: 10px;
	margin-top: 0px;
	background-color: rgba(50,50,50,.8);
}



.floating-box {
    display: inline-block;
    width: 320px;
    height: 180px;
    margin: 0px;
    border: 0px solid #333333;
    text-align: center;
    font-family: Fjalla, Helvetica, sans-serif;
    background-image: url("../images/clorox.jpg");
}

#overlay    {  
	background:rgba(255,255,0,.7);
    text-align:center;
	padding:55px 0px 58px ;
	opacity:0;
	-webkit-transition: opacity .25s ease;
    -moz-transition: opacity .25s ease;
}

.floating-box:hover #overlay {
               opacity:1;
}



#brand {  
	font-family:Oswald;
	text-transform: uppercase;
    font-weight:900;
    color:rgba(255,255,255,1);
    font-size:45px;
}

.footernav {
		margin: 2em 12px;
		padding: 10px;
		font-weight: 800;
}

.clearfix:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
}

h1 {font-family: helvetica, sans-serif; 
	font-weight: 800;
	font-size: 160px;
	color: rgba(250, 250, 0,.9);
	width: 100%;
	line-height: .8em;
	letter-spacing: -.05em;
}

blockquote {
	font-family: Fjalla, sans-serif;
	color: rgba(50, 50, 50,.8);
	background-color: rgba(250, 250, 0,.9);
	width: 100%;
	padding: .1em;
	font-size: 24px;
	text-align: left;
	display: inline-block;
}

blockquote:before{
	content: open-quote;
}


h2 {
	font-family: Fjalla, Helvetica, sans-serif;
	font-size: 56pt;
	color: rgba(250, 250, 0,.7);
	text-transform: uppercase;
	padding: 20, 0, 0, 0;
}

h3 {
	font-family: Fjalla, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: 800;
	color: rgba(250, 250, 250, .8);
	text-transform: uppercase;
	padding: .5em .8em;
}

li {
	font-family: Fjalla, Helvetica, sans-serif;
	text-transform: capitalize;
	padding: .5em;
	color: rgba(250, 250, 250, .8);
	list-style: none;
	font-weight: 100;
}

#quote{
	padding: 0;
}

a:hover { 
	color: yellow;
}



#about_text {
	background-color: none;
	border: 0px black solid;
	padding: 0px;
	float: left;
	width: 77%;
}

.sidebar {
	background-color: none;
	border: 0px black solid;
	padding: 0 0em 1em 0em;
	float: right;
	width: 20%;
	outline-color: black;
	margin-top: 3.5em;
}

hr {
	width: 100%;
	color: rgba(250, 250, 0, .8); 
	background-color: rgba(250, 250, 0,.8);
	border: 0px;
	height: 1px;
}

.hr_top {
	height: 2px;
}

#aside_type {
	line-height: 1.5em;
	outline-width: 200px;
	margin: 1.5em;
	font-family: Oswald, serif;
	font-size: 14px;
	font-weight: lighter;
	color: rgba(250,250,250, .8);
}

#contact {
	font-size: 12px;
	color: rgba(50, 50, 50, .8);
	line-height: 1.5em;
	font-weight: 800;
	background-color: rgba(250,250,0,.7);
	text-align: center;
}

#portfolio{
}

#kernwider{
	letter-spacing: .07em;
}

#kerntighter{
	letter-spacing: -.05em;
}


